<div class="login-container">
  <div class="header"><h3>Welcome! Please log in</h3></div>
  <div>A user has been created for you! Try logging in with <b>user name:&nbsp;</b>{{this.apiUserName}} and <b>password:&nbsp;</b>{{this.apiPass}}</div>
  <form class="form" #f="ngForm" (ngSubmit)="login(f)">
    <div class="field">
      <label for="username">User Name:</label>
    <input id="username" type="text" name="userName" ngModel>
    </div>
    <div class="field">
      <label for="pwd">Password:</label>
    <input id="pwd" type="password" name="pass" ngModel>
    </div>
    
    
    <button class="submit-btn">Submit</button>
  </form>

</div>